Pipfile
*.md
Pipfile*
Dockerfile
docker-compose.yml
.gitignore
helm
.github
.git
.venv
__pycache__
*.pyc
*.pyo
sonar-project.properties
static-analysis.datadog.yml
taskfile.yaml
src/tests
**/__pycache__