export KUBE_ENV=development
export ARGO_USERNAME=admin
export ARGO_PASSWORD=admin
export ARGOCD_API_URL=https://argocd.dc-tech.work/api/v1
export UNLEASH_API_URL=http://localhost:4242/api
export UNLEASH_API_TOKEN=user:022efd29bd5c6f386d46093b9a8fb22a65418314dd825414ff9c791b
