<!DOCTYPE html>
<html lang="en">

<meta http-equiv="refresh" content="120">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Kubernetes Workloads Manager</title>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
<link rel="icon" type="image/png" sizes="16x16" href="/static/favicon.ico">

</head>

<body>
    <div class="container">
        <div style="display: flex; justify-content: center; align-items: center;">
            <h1 style="margin-right: 20px;">Kubernetes Workloads Manager</h1>
            <img src="/static/image.png" alt="Kubernetes Logo" style="height: 50px;">
        </div>
        <p
            style="position: absolute; top: 20px;   margin: 20px auto; text-align: center; background-color: #3182ce; color: white; padding: 5px ; border-radius: 2px;">
            {{ version }}</p>

        <div class="progress-container">
            <div id="progressBar" class="progress-bar"></div>
        </div>

        <div class="actions" id="globalActions">
            <button onclick="manageWorkloadStatus('','','','down-all')" class="btn btn-danger">Shutdown All</button>
            <button onclick="manageWorkloadStatus('','','','up-all')" class="btn btn-success">Scale Up All</button>
        </div>

        <div class="section" id="deployment">
            <h2>Deployments</h2>
            <p>There are {{ deploy|length }} deployments in the cluster.</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Namespace</th>
                        <th style="width: 30px;">Replicas</th>
                        <th style="width: 30px;">Available</th>
                        <!-- <th>Labels</th> -->
                        <th>Details</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in deploy %}
                    <tr>
                        <td>{{ d.name }}</td>
                        <td>{{ d.namespace }}</td>

                        <td>{{ d.replicas }}</td>
                        <td {% if d.available_replicas is none %}class="btn-danger" {% endif %}>
                            {{ d.available_replicas }}
                        </td>
                        <!-- <td>
                            {% if d.labels %}
                            <ul style="list-style-type: none; padding: 0; margin: 0;">
                                {% for key, value in d.labels.items() %}
                                <li><strong>{{ key }}:</strong> {{ value }}</li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            No labels
                            {% endif %}
                        </td> -->
                        <td>
                            {% for pod in d.pods %}
                            <div class="pod-details collapsed">
                                <div class="status-line">
                                    <span>
                                        <strong>Status:</strong>
                                        <span
                                            style="color: {% if pod.status == 'Running' %}green{% else %}red{% endif %};">
                                            {{ pod.status }}
                                        </span>
                                    </span>
                                    <button class="toggle-button" onclick="toggleWorkloadDetails(this)">Show
                                        Details</button>
                                </div>
                                <div class="detailed-info">
                                    <strong>Node:</strong> {{ pod.node }}<br>
                                    <strong>Has PVC:</strong> {{ "YES" if pod.has_pvc else 'No' }}<br>
                                    <strong>Requests:</strong>
                                    {% if pod.resource_requests %}
                                    <ul style="margin: 0px 0; padding-left: 20px;">
                                        {% for resource, value in pod.resource_requests.items() %}
                                        <li>{{ resource }}: {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <span style="color: orange"> Warning {% endif %}</span><br>

                                    <strong>Limits:</strong>
                                    {% if pod.resource_limits %}
                                    <ul style="margin: 0px 0; padding-left: 20px;">
                                        {% for resource, value in pod.resource_limits.items() %}
                                        <li>{{ resource }}: {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <span style="color: orange"> Warning {% endif %}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </td>   
                        <td>
                            <button
                                onclick="manageWorkloadStatus('deploy', '{{ d.name }}', '{{ d.namespace }}', 'down', '{{ d.uid }}')"
                                class="btn btn-danger">Shutdown</button>
                            <button onclick="manageWorkloadStatus('deploy', '{{ d.name }}', '{{ d.namespace }}', 'up', '{{ d.uid }}')"
                                class="btn btn-success">Start</button>
                        </td>
                        <td>
                            <button onclick="edit_prog('{{ d.uid }}', '{{ d.name }}', '{{ d.type }}')"
                                class="btn btn-primary">Modifier</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id="cronModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h3>Éditeur d'expression Cron</h3>

                <div class="form-group">
                    <label for="cronExpressionStart">Cron start:</label>
                    <input type="text" id="cronExpressionStart" placeholder="Ex: */5 * * * *">
                    <div id="cronError" class="error">Expression Cron invalide</div>

                    <label for="cronExpressionStop">Cron stop:</label>
                    <input type="text" id="cronExpressionStop" placeholder="Ex: */5 * * * *">
                    <div id="cronError" class="error">Expression Cron invalide</div>

                    <div id="cronInfo" class="cron-helper"> </div>
                </div>
                <div class="actions">
                    <button id="deleteBtn" class="btn delete-btn">Supprimer</button> <!-- TODO faire le bouton supp (couleur) et faire la fonc js-->
                    <button id="saveBtn" class="btn save-btn">Enregistrer</button>
                </div>
            </div>
        </div>

        <div class="section" id="statefulsets">
            <h2>Statefulsets</h2>
            <p>There are {{ sts|length }} statefulsets in the cluster.</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Namespace</th>
                        <th style="width: 30px;">Replicas</th>
                        <th style="width: 30px;">Available</th>
                        <!-- <th>Labels</th> -->
                        <th>Details</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for d in sts %}
                    <tr>
                        <td>{{ d.name }}</td>
                        <td>{{ d.namespace }}</td>

                        <td>{{ d.replicas }}</td>
                        <td {% if d.available_replicas is none %}class="btn-danger" {% endif %}>
                            {{ d.available_replicas }}
                        </td>

                        <td>
                            {% for pod in d.pods %}
                            <div class="pod-details collapsed">
                                <div class="status-line">
                                    <span>
                                        <strong>Status:</strong>
                                        <span
                                            style="color: {% if pod.status == 'Running' %}green{% else %}red{% endif %};">
                                            {{ pod.status }}
                                        </span>
                                    </span>
                                    <button class="toggle-button" onclick="toggleWorkloadDetails(this)">Show
                                        Details</button>
                                </div>
                                <div class="detailed-info">
                                    <strong>Node:</strong> {{ pod.node }}<br>
                                    <strong>Has PVC:</strong> {{ "Yes" if pod.has_pvc else 'No' }}<br>
                                    <strong>Requests:</strong>
                                    {% if pod.resource_requests %}
                                    <ul style="margin: 0px 0; padding-left: 20px;">
                                        {% for resource, value in pod.resource_requests.items() %}
                                        <li>{{ resource }}: {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <span style="color: orange"> Warning {% endif %}</span><br>

                                    <strong>Limits:</strong>
                                    {% if pod.resource_limits %}
                                    <ul style="margin: 0px 0; padding-left: 20px;">
                                        {% for resource, value in pod.resource_limits.items() %}
                                        <li>{{ resource }}: {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <span style="color: orange"> Warning {% endif %}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </td>
                        <td>
                            <button onclick="manageWorkloadStatus('sts', '{{ d.name }}', '{{ d.namespace }}', 'down')"
                                class="btn btn-danger">Shutdown</button>
                            <button onclick="manageWorkloadStatus('sts', '{{ d.name }}', '{{ d.namespace }}', 'up')"
                                class="btn btn-success">Start</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="section" id="daemonsets">
            <h2>DaemonSets</h2>
            <p>There are {{ ds|length }} DaemonSets in the cluster.</p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Namespace</th>
                        <th>Details</th>

                    </tr>
                </thead>
                <tbody>
                    {% for d in ds %}
                    <tr>
                        <td>{{ d.name }}</td>
                        <td>{{ d.namespace }}</td>
                        <td>
                            {% for pod in d.pods %}
                            <div class="pod-details collapsed">
                                <div class="status-line">
                                    <span>
                                        <strong>Status:</strong>
                                        <span
                                            style="color: {% if pod.status == 'Running' %}green{% else %}red{% endif %};">
                                            {{ pod.status }}
                                        </span>
                                    </span>
                                    <button class="toggle-button" onclick="toggleWorkloadDetails(this)">Show
                                        Details</button>
                                </div>
                                <div class="detailed-info">
                                    <strong>Node:</strong> {{ pod.node }}<br>
                                    <strong>Has PVC:</strong> {{ "YES" if pod.has_pvc else 'No' }}<br>
                                    <strong>Requests:</strong>
                                    {% if pod.resource_requests %}
                                    <ul style="margin: 0px 0; padding-left: 20px;">
                                        {% for resource, value in pod.resource_requests.items() %}
                                        <li>{{ resource }}: {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <span style="color: orange"> Warning {% endif %}</span><br>

                                    <strong>Limits:</strong>
                                    {% if pod.resource_limits %}
                                    <ul style="margin: 0px 0; padding-left: 20px;">
                                        {% for resource, value in pod.resource_limits.items() %}
                                        <li>{{ resource }}: {{ value }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                    <span style="color: orange"> Warning {% endif %}</span>
                                </div>
                            </div>
                            {% endfor %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>
<script src="{{ url_for('static', path='js/main.js') }}"></script>

</html>