export KUBE_ENV=development
export ARGO_USERNAME=admin
export ARGO_PASSWORD=admin
export ARGOCD_API_URL=https://argocd.home.oursain.net/api/v1
# export ARGOCD_API_URL=http://kube-infra-tailscale-argo.taildd04c.ts.net/api/v1
